<footer class="row" aria-label="Centre Toulousain du Bénévolat - Liens utiles et mentions légales">
    <address class="col xs4 h-card">
        <ul>
            <li class="p-name">Centre Toulousain du Bénévolat</li>
            <li class="p-street-address">95 Grande Rue Saint Michel</li>
            <li class="p-locality">31400 TOULOUSE</li>
            <li class="phone-number"><a href="tel:+(33)582753060" title="Contact téléphonique du Centre Toulousain du Bénévolat">05 82 75 30 60</a></li>
            <li class="socials">
                Retrouvez nous sur 
                <a href="#" title="Centre Toulousain du Bénévolat sur Facebook">
                    <img src="assets/icons/facebook-icon.png" alt="Icone Facebook">
                </a>
                <a href="#" title="Centre Toulousain du Bénévolat sur Instagram">
                    <img src="assets/icons/instagram-icon.png" alt="Icone Instagram">
                </a>
            </li>
        </ul>
    </address>




    <nav class="col xs4">
        <ul>
            <li *ngFor="let option of options">
                <a [routerLink]="option.route" [title]="option.title">{{ option.label }}</a> 
            </li>
        </ul>
    </nav>

    <section class="col xs4">
        <h3>Engagés à nos côtés</h3>
    </section>
</footer>
