/**
* grid system
**/

/**
* Columns definition
**/
$cols: 12;

/**
* Breakpoints definition
**/
$em-xs: '0';
$em-sm: '36em'; // about 576px
$em-md: '48em'; // about 768px
$em-lg: '62em'; // about 992px
$em-xl: '75em'; // about 1200px

$xs: $em-xs * 16;
$sm: $em-sm * 16;
$md: $em-md * 16;
$lg: $em-lg * 16;
$xl: $em-xl * 16;


/**
* Mixins
**/
@mixin col-basis($basis) {
  grid-column: span $basis;
}

@mixin col-x-list($col-name) {
  @for $i from 1 through $cols {
    &.#{$col-name}#{$i} {
      @include col-basis($i);
    }
  }
}

/**
* Hide if breakpoint <= to one of these xs, sm, md, lg, xl
**/
@mixin hide-below($breakpoint) {
  @if $breakpoint == xs {
    @media screen and (max-width: #{$xs - 1}) {
      display: none;
    }
  } @else if $breakpoint == sm {
    @media screen and (max-width: #{$sm - 1}) {
      display: none;
    }
  } @else if $breakpoint == md {
    @media screen and (max-width: #{$md - 1}) {
      display: none;
    }
  } @else if $breakpoint == lg {
    @media screen and (max-width: #{$lg - 1}) {
      display: none;
    }
  } @else if $breakpoint == xl {
    @media screen and (max-width: #{$xl - 1}) {
      display: none;
    }
  }
}

/**
* Hiden item if device width above of these xs, sm, md, lg, xl
**/
@mixin hide-above($breakpoint) {
  @if $breakpoint == xs {
    @media screen and (min-width: $xs) {
      display: none;
    }
  } @else if $breakpoint == sm {
    @media screen and (min-width: $sm) {
      display: none;
    }
  } @else if $breakpoint == md {
    @media screen and (min-width: $md) {
      display: none;
    }
  } @else if $breakpoint == lg {
    @media screen and (min-width: $lg) {
      display: none;
    }
  } @else if $breakpoint == xl {
    @media screen and (min-width: $xl) {
      display: none;
    }
  }
}

/**
* Helper classes
**/
.hidden-xs {
  @media screen and (max-width: $xs) {
    display: none;
  }
}

.hidden-sm {
  @media screen and (min-width: #{$sm - 1}) and (max-width: #{$md - 1}) {
    display: none;
  }
}

.hidden-md {
  @media screen and (min-width: #{$md - 1}) and (max-width: #{$lg - 1}) {
    display: none;
  }
}

.hidden-lg {
  @media screen and (min-width: #{$lg - 1}) and (max-width: #{$xl - 1}) {
    display: none;
  }
}

.hidden-xl {
  @media screen and (min-width: $xl) {
    display: none;
  }
}


/**
* Set grid system
**/
@media screen and (min-width: $xs) {
  .container {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: $sm) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: $md) {
  .container {
    width: 62em;
    margin: 0 auto;

    &.fluid {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (min-width: $lg) {
  .container {
    width: 75em;
    margin: 0 auto;
    &.fluid {
      width: 100%;
      margin: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: .5em;
}

.col {
  @include col-x-list("xs");
  /** .row .col.xs1 ... .row .col.xs12 **/

  @media screen and (min-width: $sm) {
    @include col-x-list("sm");
  }

  @media screen and (min-width: $md) {
    @include col-x-list("md");
  }

  @media screen and (min-width: $lg) {
    @include col-x-list("lg");
  }

  @media screen and (min-width: $xl) {
    @include col-x-list("xl");
  }
}
