/**
* grid system
**/

/**
* Columns definition
**/
$cols: 12;

/**
* Breakpoints definition
**/
$em-xs: 0;
$em-sm: 36em; // about 576px
$em-md: 48em; // about 768px
$em-lg: 62em; // about 992px
$em-xl: 75em; // about 1200px

$xs: #{$em-xs * 16};
$sm: #{$em-sm * 16};
$md: #{$em-md * 16};
$lg: #{$em-lg * 16};
$xl: #{$em-xl * 16};

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/**
* Mixins
**/
@mixin col-basis($basis) {
  grid-column: span $basis;
}

@mixin col-x-list($col-name) {
  @for $i from 1 through $cols {
    &.#{$col-name}#{$i} {
      @include col-basis($i);
    }
  }
}

/**
* Loop over breakpoints to build placeholders below and above specific
*/
@each $breakpoint, $value in $breakpoints {
  %hide-below-#{$breakpoint} {
    @media screen and (max-width: #{map-get($breakpoints, $breakpoint) - 1}) {
      display: none;
    }
  }

  %hide-above-#{$breakpoint} {
    @media screen and (min-width: #{$value}) {
      display: none;
    }
  }
}

/**
* Loop over breakpoints to build specific classes
**/
@each $breakpoint, $value in $breakpoints {
  .hide-below-#{$breakpoint} {
    @extend %hide-below-#{$breakpoint};
  }

  .hide-above-#{$breakpoint} {
    @extend %hide-above-#{$breakpoint};
  }
}

/**
* Helper classes
**/
.hidden-xs {
  @media screen and (max-width: $xs) {
    display: none;
  }
}

.hidden-sm {
  @media screen and (min-width: #{$sm - 1}) and (max-width: #{$md - 1}) {
    display: none;
  }
}

.hidden-md {
  @media screen and (min-width: #{$md - 1}) and (max-width: #{$lg - 1}) {
    display: none;
  }
}

.hidden-lg {
  @media screen and (min-width: #{$lg - 1}) and (max-width: #{$xl - 1}) {
    display: none;
  }
}

.hidden-xl {
  @media screen and (min-width: $xl) {
    display: none;
  }
}


/**
* Set grid system
**/
@media screen and (min-width: $xs) {
  .container {
    width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width: $sm) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: $md) {
  .container {
    width: 62em;
    margin: 0 auto;

    &.fluid {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (min-width: $lg) {
  .container {
    width: 75em;
    margin: 0 auto;
    &.fluid {
      width: 100%;
      margin: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: .5em;
}

.col {
  @include col-x-list("xs");
  /** .row .col.xs1 ... .row .col.xs12 **/

  @media screen and (min-width: $sm) {
    @include col-x-list("sm");
  }

  @media screen and (min-width: $md) {
    @include col-x-list("md");
  }

  @media screen and (min-width: $lg) {
    @include col-x-list("lg");
  }

  @media screen and (min-width: $xl) {
    @include col-x-list("xl");
  }
}
